body {
 
    background-color: #28d628;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #4D455D;
    border-width: 8px;
    width: 5%;
}

h1{
    color: #EB1D36;
}

h3{
    color: #EB1D36;
}